:root {
  --font-family-main: "Montserrat";
  --color-muted: #6c757d;
  --color-background-page: #F9FAFC;
  --color-white: #fff;
  --color-white-grey: #E9EBEB;
  --color-main-text: #263238D9;
  --color-label-text: #333;
  --color-border: #DFE2E6;
  --color-primary-all: #FF8906;
  --color-primary-all-pale: rgb(255 220 181 / 34%);
  --color-grey: #70797d;
  --color-grey-light: #ced4da;
  --color-grey-dark: #263238;
  --color-text-muted: #747A7E;
  --color-shadow: #00000026;
  --color-footer-bg: #2B3539;
  --color-footer-text: rgba(255, 255, 255, 0.70);
  --color-footer-highlight: #FE5B00;
  --linear-gradient-select: linear-gradient(90deg, #FCF7EC 0%, #FAF1ED 100%);
  --linear-gradient-primary-focus: linear-gradient(90deg, rgba(250, 179, 54, 1) 0%, rgba(244, 111, 64, 1) 100%);
  --linear-gradient-primary: linear-gradient(180deg, rgba(250, 179, 54, 1) 0%, rgba(244, 111, 64, 1) 100%);
}

* {
  font-family: var(--font-family-main), serif;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: var(--color-muted);
  content: url("./img/breadcrumb-icon.svg");
}

.breadcrumb > li a {
  color: var(--color-grey-dark);
  text-decoration: none;
}
.breadcrumb > li a:hover {
  text-decoration: underline;
}
.breadcrumb > li:last-child {
  color: var(--color-primary-all);
}

.bg-page {
  background-color: var(--color-background-page);
}

.bg-page {
  background-color: var(--color-background-page);
}

.bg-main-screen {
  padding: 2rem;
  box-shadow: 0 0 15px 0 var(--color-shadow);
  background-color: var(--color-white);
  border-radius: 1rem;
}

#search-page h1 {
  color: var(--color-main-text);
  font-size: 28px;
  font-weight: 600;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: var(--color-label-text);
  transform: translateY(-1rem);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
}

.slide-in {
  transform: translateY(-1.1rem);
  opacity: 1;
}

.slide-out {
  transform: translateY(-1rem);
  opacity: 0;
}

.filter-field h6, .result-field h6 {
  font-size: 16px;
}
.filter-field h5, .result-field h5 {
  font-size: 20px;
  font-weight: 600;
}
.filter-field h6, .filter-field h5, .result-field h6, .result-field h5 {
  color: var(--color-main-text);
  font-weight: 600;
}

.filter-field {
  border-left: 1px solid var(--color-border);
  padding-left: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0.2rem;
  left: 1.8rem;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
.overlay-label {
  font-size: 13px;
  color: var(--color-primary-all);
}
.overlay-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.input-group.search {
  border: 1px solid var(--color-primary-all);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.input-group.search .search-main {
  border: none;
  padding-top: 1.063rem;
  padding-bottom: 1.063rem;
  border-radius: 1rem;
}
.input-group.search .search-main:focus {
  border-radius: 1rem;
  padding-top: 1.426rem;
  padding-bottom: 0.7rem;
  box-shadow: none;
}
.input-group.search .search-main::placeholder {
  color: var(--color-grey);
}
.input-group.search .btn {
  border: none !important;
  z-index: 100;
}
.input-group.search svg {
  color: var(--color-primary-all);
}

.form-check-label {
  color: var(--color-grey);
  font-size: 14px;
}

.form-check-input[type=checkbox] {
  background-color: var(--color-white);
  border-color: var(--color-grey);
  box-shadow: none;
}
.form-check-input[type=checkbox]:checked {
  background-image: url("./img/check.svg");
  border-color: var(--color-primary-all);
  background-size: 75%;
}

.bg-main-screen p a {
  color: var(--color-primary-all) !important;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary {
  background: var(--linear-gradient-primary);
  font-weight: 600;
  border: none;
  border-radius: 100rem;
  padding: 0.6875rem 0.5rem;
  color: var(--color-white);
  transition: 0.3s ease;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: var(--linear-gradient-primary-focus);
}
.btn-primary:disabled {
  background: var(--color-grey-light);
  color: var(--color-grey-dark);
}

.btn-disabled {
  background: var(--color-grey-light);
  font-weight: 600;
  border: none;
  border-radius: 100rem;
  padding: 0.6875rem 0.5rem;
  color: var(--color-grey);
  transition: 0.3s ease;
}
.btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active {
  background: var(--color-grey-light) !important;
  color: var(--color-grey) !important;
  box-shadow: none;
}

.btn-outline-primary {
  border-radius: 100rem;
  padding: 0.625rem 0.5rem;
  border-color: var(--color-primary-all) !important;
  color: var(--color-primary-all) !important;
  font-weight: 600;
  background-color: var(--color-white) !important;
  transition: 0.3s ease;
}
.btn-outline-primary:hover {
  color: var(--color-white) !important;
  background-color: var(--color-primary-all) !important;
}
.btn-outline-primary:focus-visible, .btn-outline-primary:active {
  color: var(--color-white) !important;
  background-color: var(--color-primary-all) !important;
}

.btn-small {
  padding: 0.5314rem 1.5rem;
  font-size: 14px;
}

.more-results {
  font-size: 15px;
  padding-top: 1.5rem;
  padding-left: 0;
  color: var(--color-primary-all);
  transition: 0.3s ease;
  border: none;
}
.more-results:hover, .more-results:focus, .more-results:active {
  border: none;
  color: var(--color-footer-highlight) !important;
}
.more-results:hover svg {
  padding-left: 0.5rem;
}
.more-results svg {
  transition: 0.3s ease;
}

.apply {
  position: absolute;
  left: -8.8rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.375rem 1rem;
  font-size: 14px;
  z-index: 200;
}

.css-1jqq78o-placeholder,
.css-1dimb5e-singleValue {
  font-size: 14px;
}

.css-1jqq78o-placeholder {
  color: var(--color-grey);
}

.css-1dimb5e-singleValue {
  color: var(--color-grey-dark);
}

.year .react-select__placeholder {
  text-align: end;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  border-color: var(--color-white-grey) !important;
  border-radius: 0.8rem !important;
  box-shadow: none !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.react-select__control--menu-is-open {
  border-radius: 0.8rem 0.8rem 0 0 !important;
}

.react-select__menu {
  border-radius: 0 0 0.8rem 0.8rem !important;
  margin: 0 !important;
  border: 1px solid var(--color-white-grey) !important;
  border-top: none !important;
  box-shadow: none !important;
}

.react-select__option {
  font-size: 14px !important;
  color: var(--color-grey-dark);
}
.react-select__option--is-focused {
  background: var(--linear-gradient-select) !important;
  color: var(--color-grey-dark) !important;
}
.react-select__option--is-selected {
  color: var(--color-primary-all) !important;
  background-color: var(--color-white) !important;
}

.react-select-container {
  position: relative;
}
.react-select-container ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.react-select-container ::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
.react-select-container ::-webkit-scrollbar-thumb {
  background: #F46F40;
  background: linear-gradient(90deg, #F46F40 0%, #FAB336 100%);
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.react-select__dropdown-indicator {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.filter-field .form-control {
  border-radius: 0.8rem;
  border: 1px solid var(--color-white-grey);
}
.filter-field .form-control:focus {
  box-shadow: none !important;
  border: 1px solid var(--color-white-grey);
}
.filter-field .form-control::placeholder {
  font-size: 14px !important;
  color: var(--color-grey-dark);
}

.color-grey {
  color: var(--color-grey);
}

.badge-filter {
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey);
  border-radius: 10rem;
  display: flex;
  align-items: center;
}
.badge-filter span {
  font-size: 14px;
  color: var(--color-white);
}
.badge-filter .badge-filter-reset {
  background-color: var(--color-white);
  border-radius: 100rem;
  font-size: 14px;
  padding: 0.4rem 0.215rem 0.5rem 0.215rem;
  margin-left: 0.4rem;
  line-height: 0;
  color: var(--color-primary-all);
}

.badge-outline {
  border: 1px solid var(--color-primary-all);
  color: var(--color-primary-all);
  background-color: transparent;
  font-size: 14px;
  border-radius: 10rem;
}

.accordion-button {
  background: transparent;
  padding: 0.8rem 0;
}
.accordion-button span {
  font-weight: 600;
}
.accordion-button:not(.collapsed), .accordion-button:focus {
  box-shadow: none;
  background: transparent;
}
.accordion-button::after {
  margin-left: 0.5rem;
}

.accordion-body {
  padding: 0.8rem 0;
}

.accordion-item {
  border: none;
}

.audio-files h4 {
  font-weight: 600;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.audio-files .modal-content {
  background-color: #F2F4F6;
}
.audio-files .modal-content .row > div {
  border-right: none;
}
.audio-files .modal-content .ind-block {
  background-color: var(--color-white);
  padding: 1rem 0.5rem;
  border-radius: 0.8rem;
}
.audio-files .modal-content .ind-block .row > div {
  border-bottom: 1px solid var(--color-grey-light);
  padding: 0.5rem 1rem;
}
.audio-files .modal-content .list-group-item {
  background-color: var(--color-white);
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}
.audio-files .modal-content .list-group-item:first-child {
  margin-top: 1rem;
}
.audio-files .modal-content .list-group-item:last-child {
  margin-bottom: 0;
}
.audio-files .modal-header {
  padding: 0;
}
.audio-files .modal-body {
  height: 60vh;
}

.modal-body {
  overflow: hidden;
  overflow-y: auto;
  height: 45vh;
  padding: 0;
}
.modal-body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.modal-body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: #F46F40;
  background: linear-gradient(90deg, #F46F40 0%, #FAB336 100%);
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.modal .p-component {
  padding-top: 0;
}

.p-tree-header {
  margin-bottom: 1rem;
}
.p-tree-header svg {
  margin-right: 1rem;
  color: var(--color-primary-all);
}
.p-tree-header .p-inputtext {
  padding: 0.8rem;
  border: 1px solid var(--color-primary-all);
  border-radius: 0.8rem;
}
.p-tree-header .p-inputtext:focus {
  box-shadow: none;
  border: 1px solid var(--color-footer-highlight);
}

.p-tree, .modal-header, .modal-footer {
  border: none;
}

.p-tree .p-checkbox-box {
  background-color: var(--color-white);
  border-color: var(--color-grey);
}
.p-tree .p-highlight .p-checkbox-box {
  background-color: var(--color-white);
  border-color: var(--color-primary-all);
}
.p-tree .p-highlight .p-checkbox-box .p-checkbox-icon {
  color: var(--color-primary-all);
}
.p-tree .p-tree-container {
  padding-left: 0;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background-color: var(--color-primary-all-pale);
}
.p-tree .p-tree-container .p-treenode .p-treenode-selectable:not(.p-highlight):hover {
  background-color: var(--color-grey-light);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
  background-color: var(--color-grey-light);
}

.list-items-modal div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1rem 0;
}
.list-items-modal div button svg {
  color: var(--color-primary-all);
}

.btn-paginate .btn {
  color: var(--color-grey-dark);
  border: none;
}
.btn-paginate .btn:disabled {
  color: var(--color-grey-light);
  border: none;
}

.paginate-text {
  font-size: 14px;
  font-weight: 400;
}

.card-item {
  box-shadow: 0 0 15px 0 var(--color-shadow);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 15px;
}
.card-item .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
}
.card-item a {
  font-weight: 500 !important;
}
.card-item a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.card-item a.btn-primary, .card-item a.btn-outline-primary {
  font-weight: 600 !important;
}
.card-item a.btn-primary:hover, .card-item a.btn-outline-primary:hover {
  text-decoration: none !important;
}
.card-item p {
  margin-bottom: 0.25rem;
}
.card-item .text-small-grey, .card-item .text-grey {
  color: var(--color-grey);
}
.card-item .text-small, .card-item .text-small-grey {
  font-size: 14px;
}
.card-item .text {
  font-weight: 600;
}
.card-item .number-card {
  left: 2rem;
}
.card-item .row > div {
  border-right: 1px solid var(--color-border);
  padding-left: 1rem;
}
.card-item .row > div:last-child {
  border-right: none;
}
.card-item .row > div:first-child {
  text-align: left;
}
.card-item.video .row > div {
  border-right: none;
}
.card-item .justified {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item .dots {
  flex-grow: 1;
  border-bottom: 1px dotted;
  margin: 0 10px;
  height: 10px;
  position: relative;
}
.card-item .btn-small.equal {
  flex: 1;
  max-width: 14rem;
}
.card-item iframe {
  border-radius: 0.5rem;
}

.custom-tooltip.p-tooltip div {
  background: linear-gradient(180deg, #FFFEFF 0%, #FEF7EB 100%);
  color: var(--color-grey-dark);
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-size: 14px;
  box-shadow: 0 0 15px 0 var(--color-shadow);
}
.custom-tooltip.p-tooltip div p {
  margin: 0;
  color: var(--color-grey-dark);
}
.custom-tooltip.p-tooltip div p span {
  font-weight: 600;
}

.p-tooltip-arrow {
  display: none;
}

footer {
  background-color: var(--color-footer-bg);
}
footer p {
  color: var(--color-footer-text);
  font-size: 13px;
  line-height: 146.28%;
}
footer p span {
  color: var(--color-footer-highlight);
}
footer p a {
  color: var(--color-white);
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

.fs-20 {
  font-size: 20px;
}

.fw-600 {
  font-weight: 600;
}

nav.navbar {
  background-color: var(--color-white);
  box-shadow: 0 4px 27px 0 var(--color-shadow);
}

header {
  margin-bottom: 57px;
}
header .navbar-brand.brandName img {
  max-height: 70px;
}
header .btn-menu {
  outline: none !important;
  border: none !important;
  width: 36px;
}
header .btn-menu:hover, header .btn-menu:focus, header .btn-menu:active, header .btn-menu:focus-visible {
  outline: none !important;
  border: none !important;
}
header .menu-back {
  padding: 0 0 1rem 0;
  font-size: 22px;
  color: var(--color-primary-all);
  font-weight: 600;
  outline: none !important;
  border: none !important;
}
header .menu-back svg {
  padding-right: 1rem;
}
header .menu-back:hover, header .menu-back:focus, header .menu-back:active, header .menu-back:focus-visible {
  outline: none !important;
  border: none !important;
  color: var(--color-primary-all) !important;
}
header .search-header input {
  border-radius: 10px;
  background: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-right: 1px solid transparent;
}
header .search-header input:focus {
  box-shadow: none;
  background: var(--color-white);
  border: 1px solid var(--color-primary-all);
}
header .search-header button {
  padding: 0 1rem;
  border: 1px solid var(--color-grey-light);
  border-left: 1px solid transparent;
  border-radius: 10px;
  margin-left: -3px;
}
header .search-header button:hover, header .search-header button:focus, header .search-header button:active, header .search-header button:focus-visible {
  border-color: var(--color-primary-all) !important;
}
header .search-header button:hover svg, header .search-header button:focus svg, header .search-header button:active svg, header .search-header button:focus-visible svg {
  color: var(--color-primary-all);
}
header .search-header button svg {
  color: var(--color-grey);
}
header .nav-pills .nav-link:first-child {
  padding-top: 0;
}
header .nav-pills .nav-link {
  padding: 1rem 0;
  text-align: left;
}
header .nav-pills .nav-link.active {
  position: relative;
  border-radius: 20px;
  background: var(--color-white);
  text-align: left;
  width: fit-content;
  transition: 0.5s;
  padding: 1rem;
}
header .nav-pills .nav-link.active span {
  color: var(--color-primary-all);
}
header .nav-pills .nav-link span {
  color: var(--color-grey-dark);
  font-weight: 600;
  font-size: 22px;
  width: fit-content;
}
header .nav-pills .nav-link span svg {
  padding-left: 1rem;
  color: var(--color-white);
}
header .nav-pills .nav-link span:hover {
  color: var(--color-primary-all);
  transition: 0.3s;
}
header .nav-pills .nav-link span:hover svg {
  color: var(--color-primary-all);
}
header .tab-pane a {
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
  font-size: 22px;
}
header .tab-pane a:hover {
  color: var(--color-grey-dark);
  transition: 0.3s;
}
header .link-tab {
  padding: 0.7rem 0;
  border-radius: 5px;
  text-align-last: left;
}
header .link-tab a {
  font-weight: 600;
}
header a.btn-link {
  color: var(--color-grey-dark);
  text-decoration: none;
  line-height: 1rem;
  font-weight: 600;
}
header a.btn-link.sv {
  font-size: 13px;
  color: var(--color-primary-all);
  text-align: start;
}
header a.btn-link.sv:hover {
  color: var(--color-primary-all);
}
header a.btn-link:hover {
  text-decoration: underline;
  color: var(--color-grey-dark);
}

.menu-hidden {
  transform: translateX(-100%);
  display: none;
  transition: transform 0.3s ease-in-out, display 0.5s ease-in-out;
}

.content-hidden {
  transform: translateX(100%);
  display: none;
  transition: transform 0.3s ease-in-out, display 0.5s ease-in-out;
}

.menu-visible {
  width: 100%;
  display: block;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.content-visible {
  width: 100%;
  display: block;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.list-items-modal .btn:active, .list-items-modal .btn:focus, .list-items-modal .btn:focus-visible {
  border-color: transparent;
}

.modal h5.modal-title {
  font-size: 24px;
}
.modal .btn.close {
  color: var(--color-grey);
  font-size: 28px;
  padding: 0;
}
.modal .btn.close:hover {
  color: var(--color-footer-highlight);
}
.modal .btn.close:active, .modal .btn.close:focus, .modal .btn.close:focus-visible {
  border-color: transparent;
}
.modal .modal-body {
  padding: 0;
}
.modal .modal-content {
  padding: 1rem;
}
.modal .modal-content .input-group.search-modal {
  border: 1px solid var(--color-primary-all);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal .modal-content .input-group.search-modal .form-control {
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
}
.modal .modal-content .input-group.search-modal .form-control:focus {
  box-shadow: none;
}
.modal .modal-content .input-group.search-modal .form-control::placeholder {
  color: var(--color-grey);
}
.modal .modal-content .input-group.search-modal svg {
  color: var(--color-primary-all);
}
.modal .modal-footer {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal .modal-footer .btn {
  padding: 0.7rem 5rem;
}

@media (max-width: 1199px) {
  #search-intuitive {
    width: 100%;
    margin-bottom: 1rem;
  }
  header .nav-pills .nav-link {
    padding: 0.7rem 0;
  }
  header .nav-pills .nav-link span {
    font-size: 16px;
  }
  header .link-tab {
    padding: 0.5rem 0;
  }
  header .link-tab a {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  header .navbar-brand.brandName img {
    max-height: unset;
    max-width: 84px;
  }
  header a.btn-link {
    font-size: 14px;
    line-height: 13px;
  }
  header .menu-back {
    font-size: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
